<% provide(:title, "About") %>

<h1>About The Butterscotch Gift Café</h1>
<p>We are little gem in the heart of Thomastown, Co. Kilkenny. Come join us for a great coffee, a delicious pastry, and take a souvenir home. We love local and tourists alike.</p>
