<% provide(:title, "Contact") %>

<h1>Contact Us</h1>
<p>Find us in Facebook: https://www.facebook.com/butterscotchgifts/</p>
<p>Drop us a line: thebutterscotchgiftcafe@gmail.com</p>
<p>Market Street (67.65 mi)</p>
<p>Thomastown, Ireland</p>
<p>087 417 0749</p>
